# Introduction
Pivot Table with Dynamic Headers. This is possible, but difficult to do in a SQL query using pivot or in Excel using a pivot table. Fortunately we can accomplish in an easier fashion using python pandas.

### Imports
For larger datasets import data directly from SQL into a dataframe, for small datasets can import directly from excel.

In [2]:
# option 1 - connect to SQL database 
import pyodbc

# data manipulation 
import pandas as pd
import numpy as np

from pandas import pivot_table 

# excel output / input 
from pandas import ExcelWriter
from pandas import ExcelFile

In [ ]:
#example sql connection 
cnxn = pyodbc.connect('driver={SQL Server};'
                      'server=_____;'
                      'database=_____;'
                      'trusted_consnection=yes')

In [ ]:
#sample query (build string out- use backslashes for quotes within query)
query = 'SELECT * FROM [table] WHERE AsOfDate=\'2019-06-03\''
query

In [ ]:
df = pd.read_sql(query, cnxn)
df

In [6]:
#option 2 - import data from excel 
input = pd.read_excel('C:/Python27/Input.xlsx', sheet_name='Sheet1')
input

# Analysis/Modeling

In [11]:
table = pivot_table(input, values=['Total'],index=['Id'], columns=['Carrier'], aggfunc=np.sum)

# Results

In [12]:
table

         Total
Carrier     1      2      5      6      7      8      9      10
Id
1        100.0  200.0  300.0    NaN    NaN  400.0  500.0    NaN
2        100.0  200.0    NaN  300.0  400.0    NaN    NaN  500.0

# Conclusions and Next Steps
Summarize findings here